
<!DOCTYPE html>
<html>
	
<head>
	<title></title>

	<link rel="stylesheet" href="/styles/bootstrap.min.css">
  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/js/jquery.js"></script>
  <script src="/masterjs/master_logic.js"></script>
  <script src="/masterjs/main_master.js"></script>


</head>
<body>

	<div id = "main">

	   <nav class="navbar navbar-default">
      		<div class="container-fluid">
        		<div class="navbar-header">
           			<a class="navbar-brand" href="#">Master</a>
        		</div>
        		<ul class="nav navbar-nav">
          			<li class="active"><a href="#">Home</a></li>
        		</ul>
      		</div>
  		</nav>

    <button id="startQuestions" type="submit">Start Questions</button>

	</div>

  <div id="footer">
    
  </div>

  <button id="finish" type="submit">Finish</button>




</body>
</html>
